.App {
  text-align: center;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 12px;
    font-feature-settings: "liga" 0, "calt" 0;
    font-variation-settings: normal;
    line-height: 18px;
    letter-spacing: 0px;
}

.App.light {
  background: #E2E2E2;
  color: rgb(54,53,55);
}
.App.dark {
  background: rgb(0,0,0);
  color: rgb(250,250,250);
}

.WorkspaceBox {
  display: flex;
  height: 100vh;
}

.FileExplorer {
  text-align: left;
  border-right: 1px solid #d4d4d4;
}

.FileExplorer h1 {
  padding: 0px 10px;
}
.FileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}
.FileList {
  cursor: pointer;
}

.FileRow {
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.FileRow.active {
  background-color: #d4d4d4;
}